################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FibonacciClock/bin/Debug
/FibonacciClock/obj/Debug
